module local_ossec_logrotate 1.6.6;

require {
        type var_t;
        type logrotate_t;
        class file { rename read write open getattr create unlink setattr ioctl };
}

#============= logrotate_t ==============
allow logrotate_t var_t:file { rename read write open getattr create unlink setattr ioctl };
